@import "docs/utils-doc/style";
.use-dialog {
  position: fixed;
  top: 30%;
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #00000050;
  .move-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: #00000040;
    cursor: move;
    padding: 0 10px;
  }
  .resize-field {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #aaa;
    cursor: se-resize;
  }
  .to-bottom-field {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #aaa;
    cursor: pointer;
  }
  .resize-desc {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
  .to-bottom-desc {
    position: absolute;
    left: 20px;
    bottom: 0;
  }
  .use-dialog-content {
    flex: 1;
    overflow: auto;
    padding: 10px;
  }
}
